*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
/* font */
 body{
   font-family: 'Open Sans', sans-serif;
 }

  /* -----HEADER----- */
  /* positio and size header */
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
/* size container header */
 .container_header{
    width: 100%;
    margin: auto;
 }
 /* size and flex properties roe header */
 .row_header{
   display: flex;
   justify-content: space-between;
 }
/*  flex property conl nav header */
 .col_nav{
   display: flex;
   align-items: center;
 }
/*  flex property conl nav header */
 .col_profile{
   display: flex;
   align-items: center;
 }
/* color and style text */
 .row_header a{
   text-decoration: none;
   color: black;
   margin: 0 30px 0 30px;

 }
 /* margin img header */
 .margin_img_header{
   margin: 20px 20px; 
 }
/* size, color and style button */
 .button_header{
   height: 30px;
   width: 65px;
   color: white;
   padding: 3px 10px;
   background-color: rgba(0,97,255,1);
   border: none;
   cursor: pointer;
 }
/* margin  log in */
 #log_in{
   margin-right: 0;
 }
/* margin begins */
 #begins{
   margin-left: 20px;
 }
 