*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
/* font */
 body{
   font-family: 'Open Sans', sans-serif;
 }

  /* -----HEADER----- */
  /* positio and size header */
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: white;
    box-shadow: 0 0 10px 2px grey;
}
/* size container header */
 .container_header{
    width: 100%;
    margin: auto;
 }
 /* size and flex properties roe header */
 .row_header{
   display: flex;
   justify-content: space-between;
 }
/*  flex property conl nav header */
 .col_nav{
   display: flex;
   align-items: center;
 }
/*  flex property conl nav header */
 .col_profile{
   display: flex;
   align-items: center;
 }
/* color and style text */
 .row_header a{
   text-decoration: none;
   color: black;
   margin: 0 30px 0 30px;

 }
 /* margin img header */
 .margin_img_header{
   margin: 20px 20px; 
 }
/* size, color and style button */
 .button_header{
   height: 30px;
   width: 65px;
   color: white;
   padding: 3px 10px;
   background-color: rgba(0,97,255,1);
   border: none;
   cursor: pointer;
 }
/* margin  log in */
 #log_in{
   margin-right: 0;
 }
/* margin begins */
 #begins{
   margin-left: 20px;
 }

 /* -----MAIN----- */
 /* -----SECTION 1----- */
.section_1{
  padding-top: 150px;
  background-color: rgba(180,208,231,1);
}

.container_section_1{
  max-width: 70%;
  margin: auto;
}

.col_section_1_title h1{
  font-size: 100px;
}

.col_section_1_jumbo{
  margin-top: 60px;
}

.sub_row_section_1{
  display: flex;
}

.sub_col_section_1_left{
  width: 30%;
}

.sub_col_section_1_left p{
  font-size: 18px;
}

.sub_col_section_1_left button{
  font-size: 20px;
  padding: 13px;
  margin: 30px 0 30px 0;
  border: none;
  background-color: rgba(0,97,255,1);
  color: white;
  cursor: pointer;
}

.sub_col_section_1_right{
  width: 70%;
  margin-bottom: -85px;
}

#down_arrow{
  margin-top: 110px;
  font-size: 60px;
}

.sub_col_section_1_right img{
  max-width: 100%;
}

/* -----SECTION 2----- */
.section_2{
  padding-top: 200px;
}

.container_section_2{
  max-width: 60%;
  margin: auto;
}

.col_section_2_title_radio h2{
  font-size: 45px;
}

#radio_1{
  margin-top: 70px;
}

#radio_2{
  margin-left: 50px;
}

.col_section_2_plan{
  margin-top: 50px;
}

.sub_row_section_2{
  display: flex;
}

.sub_col_section_2_left p, .sub_col_section_2_center p, .sub_col_section_2_right p{
  text-align: center;
  border-bottom: 1px solid lightgrey;
  margin: 10px 0 10px 0;
}

.sub_row_section_2 ul{
  text-align: left;
  margin-left: 45px;
  margin-right: 45px;
  --icon-space: 1.3em;
  list-style: none;
  padding: 0;
}

.padding_head_list{
  padding-bottom: 12px;
}

.sub_col_section_2_left, .sub_col_section_2_center, .sub_col_section_2_right{
  width: 33%;
  border: 1px solid lightgray;
}

.sub_col_section_2_center{
  margin: 0 40px 0 40px;
}

.sub_row_section_2 p{
  padding: 5px;
}

.sub_col_section_2_left ul, .sub_col_section_2_center ul, .sub_col_section_2_right ul{
  padding: 40px 0 40px 0;
}

.lista li{
  padding: 5px 0 5px 0;
  padding-left: var(--icon-space);
}

h3{
  font-size: 27px;
}

.list_row_2{
  margin-top: 20px;
}

.list_row_3{
  color: grey;
  margin-top: 10px;
}

.list_row_4{
  margin-top: 50px;
}

.list_row_5, .list_row_6, .list_row_12, .list_row_13, .list_row_14, .list_row_15{
  margin-top: 15px;
}

.list_row_7{
  margin-top: 50px;
}

.list_row_7 button{
  width: 100%;
  font-size: 18px;
  padding: 13px;
  border: none;
  background-color: rgba(0,97,255,1);
  color: white;
  cursor: pointer;
}

.list_row_4::before{
  content: '\f007';
  font-family: FontAwesome;
  display: inline-block;
  margin-left: calc(var(--icon-space) * -1);
  width: var(--icon-space);
}

.list_row_5::before{
  content: '\f07b';
  font-family: FontAwesome;
  display: inline-block;
  margin-left: calc(var(--icon-space) * -1);
  width: var(--icon-space);
}

.list_row_6::before{
  content: '\f1e0';
  font-family: FontAwesome;
  display: inline-block;
  margin-left: calc(var(--icon-space) * -1);
  width: var(--icon-space);
}

.row_8_link{
  color: blue;
}

.list_row_9 hr{
  border: 1px solid lightgray;
}

.list_row_9{
  width: 17%;
}

.list_row_8, .list_row_9, .list_row_10{
  margin-top: 30px;
}

.list_row_11{
  margin-top: 20px;
}

.row_check::before{
  content: '\f00c';
  font-family: FontAwesome;
  display: inline-block;
  margin-left: calc(var(--icon-space) * -1);
  width: var(--icon-space);
  color: blue;
}

.col_section_2_team{
  margin-top: 40px;
  border: 1px solid lightgrey;
}

.section_2_team_head{
  border-bottom: 1px solid lightgray;
  text-align: center;
  padding-top: 15px;
}

.sub_col_section_2_team{
  margin: 35px 0 35px 35px;
}

.sub_col_section_2_team button{
  font-size: 18px;
  padding: 13px;
  border: none;
  background-color: rgba(0,97,255,1);
  color: white;
  cursor: pointer;
}

.sub_col_section_2_team h3{
  display: inline-block;
  margin-right: 700px;
}

#sub_col_section_2_solution{
  margin-top: 50px;
}

/* -----SECTION 3----- */
.container_section_3{
  width: 60%;
  margin: auto;
  margin-top: 200px;
}

.row_section_3{
  display: flex;
}

.col_section_3_left{
  max-width: 60%;
}

.col_section_3_right{
  max-width: 40%;
  padding: 90px 50px 0 50px;
}

.col_section_3_right p{
  margin: 20px 0 30px 0;
  font-style: initial;
  line-height: 20px;
}

.col_section_3_right button{
  font-size: 18px;
  padding: 13px;
  border: none;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

.col_section_3_left img{
  max-width: 100%;
}

/* -----SECTION 4----- */

.container_section_4{
  width: 60%;
  margin: auto;
  margin-top: 200px;
}

.col_section_4_title h2{
  font-size: 45px;
}

.col_section_4_cards{
  margin-top: 20px;
}

.sub_row_section_4_cards{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.sub_col_section_4_card{
  width: calc(100% / 3 - 20px);
  margin: 30px 10px;
}

.sub_col_section_4_card img{
  max-width: 100%;
}

.sub_col_section_4_card p{
  margin-top: 20px;
}

/* -----SECTION 5----- */

.container_section_5{
  width: 60%;
  margin: auto;
  margin-top: 200px;
}

.col_section_5 h2{
  font-size: 45px;
  margin-bottom: 70px;
}

.col_section_5 a{
  color: blue;
}

/* -----SECTION 6----- */
.section_6{
  margin-top: 200px;
}
.container_section_6{
  width: 100%;
}

.row_section_6{
  width: 100%;
  display: flex;
}

.col_section_6_left, .col_section_6_center, .col_section_6_right{
  width: calc(100% / 3);
  height: calc(100vw / 3);
  display: flex;
  flex-direction: row;
}

.col_section_6_center{
  background-color: rgba(245,245,245,1);
}

.sub_row_left, .sub_row_center, .sub_row_right{
  display: flex;
}

.sub_col_50{
  width: 50%;
  height: 50%;
}

.designit{
  background-color: rgba(162,211,155,1);
  display: flex;
  justify-content: center;
  color: #d1e9cd;
  transition: 0.4s;
  cursor: pointer;
  border: 8px solid #0b7;
  -webkit-transition:0.4s;
}

.designit:hover {
  border: 2px solid rgba(0,160,80,0);
  color: #FFF;
}

.asu{
  background-color: rgba(97,8,43,1);
  display: flex;
  justify-content: center;
}

.florida{
  background-color: rgba(0,147,206,1);
  display: flex;
  justify-content: center;
  padding: 140px 0 140px 0;
}

.topps{
  background-color: rgba(255,28,28,1);
  display: flex;
  justify-content: center;
}

.bicycle{
  background-color: rgba(213,0,31,1);
  display: flex;
  justify-content: center;
}

.hearts{
  background-color: rgba(180,208,231,1);
  display: flex;
  justify-content: center;
}

.lonely{
  background-color: rgba(13,36,129,1);
  display: flex;
  justify-content: center;
}

.clear{
  background-color: rgba(255,216,48,1);
  display: flex;
  justify-content: center;
}

.flex_wrap{
  flex-wrap: wrap;
}

.height_100{
  height: 100%;
}

.designit img{
  max-width: 50%;
  filter: brightness(0) invert(1);
}

.asu img{
  max-width: 50%;
  filter: brightness(0) invert(1);
}

.florida img{
  max-width: 50%;
  filter: brightness(0) invert(1);
}

.topps img{
  max-width: 50%;
  filter: brightness(0) invert(1);
}

.bicycle img{
  max-width: 50%;
  filter: brightness(0) invert(1);
}

.hearts img{
  max-width: 50%;
  filter: brightness(0) invert(1);
}

.lonely img{
  max-width: 50%;
  filter: brightness(0) invert(1);
}

.clear img{
  max-width: 50%;
  filter: brightness(0) invert(1);
}

.img_section_6_center{
  max-width: 70%;
}

.sub_col_100 hr{
  width: 30%;
  margin-top: 40px;
}

.sub_col_100{
  padding: 50px;
}

.sub_col_100 p{
  margin-top: 40px;
}

/* -----SECTION 7----- */

.section_7{
  background-color: rgba(180,208,231,1);
}

.container_section_7{
  width: 60%;
  margin: auto;
}

.col_section_7{
  padding-top: 100px;
  padding-bottom: 100px;
}

.col_section_7 h2{
  font-size: 45px;
  display: inline-block;
  color: rgba(97,8,43,1);
}

.col_section_7 button{
  font-size: 18px;
  padding: 10px 35px 10px 35px;
  border: none;
  background-color: white;
  cursor: pointer;
  margin-left: 250px;
  vertical-align: top;
}

/* -----SECTION 8----- */

.section_8{
  margin: 200px 0 200px 0;
}

.container_section_8{
  width: 60%;
  margin: auto;
}

.col_section_8 h2{
  font-size: 45px;
  margin-bottom: 60px;
}

.col_section_8 p{
  display: inline-block;
  margin: 40px 0 40px 0;
}

.col_section_8 span{
  margin-left: 500px;
}

.col_section_8 hr{
  border: 1px solid lightgray;
}

/* -----FOOTER----- */

footer{
  background-color: black;
  color: white;
}

.col_footer{
  padding: 100px 0 60px 0;
}

.col_footer ul{
  list-style: none;
  display: inline-block;
}

.ul_footer_margin_left{
  margin-left: 150px;
}

.col_footer a{
  color: white;
  text-decoration: none;
}

.container_footer{
  width: 70%;
  margin: auto;
}

.ul_footer_row_1{
  font-size: 25px;
  padding-bottom: 20px;
}

.ul_footer_row_2, .ul_footer_row_3, .ul_footer_row_4, .ul_footer_row_5, .ul_footer_row_6{
  font-size: 15px;
  margin: 10px 0 10px 0;
}

.hr_footer{
  margin-top: 100px;
  width: 10%;
}

footer p{
  margin-top: 60px;
}